<p id="notice"><%= notice %></p>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Simple Airbnb</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-auto flex">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
            <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
          </form>
          <a class="btn btn-outline-primary my-2 my-sm-2 ml-2" href="/flats/new">Add Flat</a>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Price per night</th>
      <th>Number of guests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.name %></td>
        <td><%= flat.address %></td>
        <td><%= flat.description %></td>
        <td><%= flat.price_per_night %></td>
        <td><%= flat.number_of_guests %></td>
        <td><%= link_to 'Show', flat %></td>
        <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
        <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->


<div class="row">
  <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('https://picsum.photos/300/200?image=<%= (rand() * 20).to_i %>')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="fas fa-user-friends"><%= flat.number_of_guests %></i>
              </div>
              <div class="flex ml-3">
                <i class="fas fa-euro-sign"><%= flat.price_per_night %></i>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to 'More Info', flat %>
            <%= link_to 'Edit', edit_flat_path(flat), class: "ml-3 text-warning" %>
            <%= link_to 'Destroy', flat, class: "ml-3 text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>

<!--

ONDE EU PAREI: TENTANDO FAZER OS LINKS DE EDIT E DELETE FUNCIONAREM COM O ESTILO:
<a class="ml-3 text-warning" href="/flats/3358/edit">Edit</a>
<a data-confirm="Are you sure?" class="ml-3 text-danger" rel="nofollow" data-method="delete" href="/flats/3358">Remove</a>

<%= link_to 'New Flat', new_flat_path %>
-->





















